<html>
<style>

    div {
        text-align: center;
        position: relative;
        padding :  6rem;
        border: 0.05rem solid powderblue;
        margin: 5rem;
}

</style>




<div>


    <h1>We are a small help for muslim Umma'h.</h1>

    <h2>www.darsemansoor.com</h2>
<h2>www.monthlyalabrar.wordpress.com</h2>
<h2>www.alkawsar.com</h2>
<h2>www.alkawsar.com</h2>
<h2>www.dawatul-haq.com</h2>
<h2>www.khanqahbd.com</h2>
<h2>www.khanqahbd.com</h2>
<h2>www.adarshanari.com</h2>

<h3>
    www.ahnaafbd.wordpress.com
    www.jamiatulasad.com
    www.darululoom-deoband.com
    www.darululoomkarachi.edu.pk

</h3>
</div>
</html>