{% extends "RED/layout.html" %}

{% block body %}
</br>
<div class="contents history_page ">

    <div class="content container">

        <div class="content__grid ">
            {% for article_data in article %}
            <div class="content__items">
                
                <div class="content__title">
                   <h2> {{article_data.title}} </h2>
                    {% comment %} <h2>Introduction </h2> {% endcomment %}

                </div>
                <div class="content__description">
                    <p> {{article_data.description}}</p>
                </div>
            
            </div>
            {% endfor %}

        </div>
    </div>




    {%endblock body%}