{% extends "RED/layout.html" %}

{% block body %}
Quran 


{{name_of_chapers}}
{{details_of_chapters}}

<div class="contents qu_page">

    <div class="content container ">

        <div class="content__grid ">
            {% for i in '0123456789' %}
            <div class="content__items">

                <div class="content__title">
                    <h2>{{name_of_chapers}} </h2>
                </div>
                <div class="content__description">
                    <p>{{details_of_chapters.surah_name}} {{ details_of_chapters.ayats_no }}</p>
                </div>
            </div>
            {%endfor%}

        </div>
    </div>




    {%endblock body%}