{% extends "RED/layout.html" %}

{% block body %}
Quran 


{{context}}
{{chapter_name}}





<div class="contents qu_page">

    <div class="content container ">

        <div class="content__grid ">
            {% for chapter_name, sura_list, ayat_list in  chapter_list %}
            <div class="content__items">

                <div class="content__title">
                    <h2>{{ chapter_name }} </h2>
                </div>

                <div class="content__description">
                    <p>{{ sura_list }} {{ayat_list }}</p>
                </div>

            </div>
            {%endfor%}

        </div>
    </div>




    {%endblock body%}