{% extends "RED/layout.html" %}

{% block body %}

<br/>
<br/>

   
<div class="contents qu_page">
  
    <div class="content container ">
         <p> <h3> Chapter : </h3>
        <h2>  {{chapter_name}} </h2></p>
        <div class="content__ayatgrid">
            {% for sura, aya, arabic_text, translation, footnotes  in  chapter_list %}
           
           
            <div class="content__items">
                <div class="content__title">
                    <h2>  {{arabic_text}} </h2> 
                </div>
                <h6 >
                   Surah: {{ sura }}, Ayat: {{ aya }} 
                </h6>
               
               <div class="content__description">
                <p> <h6 > Translation: </h6> {{ translation }}</p>
                <p> <h6 > Footnotes: </h6> {{ footnotes }}</p>
            </div>
            </div>
            <br/>
            {%endfor%}
          
        </div>
    </div>

    {%endblock body%}