//colors
$darkblue: hsl(233,26%,24%);
$brightcyan:  hsl(192,70%,51%);
$grayishblue:hsl(233,8%,62%);
$lightgrayidshblue: hsl(220,16%,96%);
$lightgrid: #eaeffa;
$footercolor:#cce6ff;
$lightgray:#d1e0e0;

//font size 

$font-sm: 0.875rem;
$font-med: 1.125rem;
$font-lg: 1.26rem;
$font-xlg: 3.25rem;


//image url
$logo : 'images/b.jpg';
$background-url-svg: 'images/qw.png';
$background-url-img: 'images/b.jpg';
$article-pic: 'images/pic_article.png';
$science_page: 'images/qw.png';
$haddit_page: 'images/haddit_page.png';
$history_page: 'images/history_page.png';
$qu_page: 'images/quran_page.png';