.reponsHero {
  margin-top: 5.26rem;
}

@media (min-width: 1024px) {
  .reponsHero {
    min-height: 48rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reponsHero__image {
  position: relative;
  text-align: center;
  background-color: rgba(0, 175, 255, 0.1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 1024px) {
  .reponsHero__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 100.1875rem;
    min-height: 47.6875rem;
    height: 48rem;
    background-position: left center;
  }
}

.reponsHero__image::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 28%;
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-position: center bottom;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(100%);
          transform: translateX(-50%) translateY(100%);
}

.reponsHero__text {
  position: relative;
  z-index: 10;
  text-align: center;
  background-color: rgba(0, 176, 255, 0.1);
}

@media (min-width: 1024px) {
  .reponsHero__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 47.6875rem;
    text-align: left;
  }
}

.reponsHero__text p {
  line-height: 1.5;
  margin: 10px;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 1.125rem;
  font-weight: 300;
  color: #9698a6;
  font-family: "Public sans", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  min-height: 300vh;
  overflow-x: hidden;
  /*@include breakpoint-up(large {
    font-size: $font-med;
  }*/
}

@media (min-width: 1024px) {
  body {
    font-size: 1.26rem;
  }
}

body.noscroll {
  overflow: hidden;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: #656464;
}

h1,
h2,
h3 {
  margin-top: 0px;
}

h1 {
  font-weight: 300;
  font-size: 1.54rem;
  line-height: 1;
  color: #2d314d;
  margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 1.875rem;
  margin-bottom: 1.621rem;
}

@media (min-width: 1024px) {
  h2 {
    font-size: 2.2532rem;
    margin-bottom: 2.521rem;
  }
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  display: inline-block;
  padding: 1rem 1.875rem;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#acd3ac), to(#c9a6a6));
  background: linear-gradient(to right, #acd3ac, #c9a6a6);
  font-weight: 400;
  font-size: 0.875rem;
  opacity: 0.9;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

@media (max-width: 1023px) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container--pt {
  padding-top: 2.25rem;
}

@media (min-width: 1024px) {
  .container--pt {
    padding-top: 6rem;
  }
}

.container--pb {
  padding-bottom: 2.25rem;
}

@media (min-width: 1024px) {
  .container--pb {
    padding-top: 6rem;
  }
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container--pall {
  padding-top: 4.3755rem;
  padding-bottom: 4.3755rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 1024px) {
  .container--pall {
    padding-top: 2.55rem;
    padding-bottom: 2.55rem;
  }
}

.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

#rocket {
  -webkit-animation: rocket 10s infinite linear;
          animation: rocket 10s infinite linear;
  -webkit-transform-origin: left;
          transform-origin: left;
  transform-box: fill-box;
}

#rocket #fire_rocket {
  transform-box: fill-box;
  -webkit-animation: fire_rocket 10s infinite;
          animation: fire_rocket 10s infinite;
}

@-webkit-keyframes rocket {
  from {
    -webkit-transform: matrix(1.8, -0.5, 0.2, 0.8, 0, 0);
            transform: matrix(1.8, -0.5, 0.2, 0.8, 0, 0);
  }
  to {
    -webkit-transform: translate(-250px, -450px);
            transform: translate(-250px, -450px);
  }
}

@keyframes rocket {
  from {
    -webkit-transform: matrix(1.8, -0.5, 0.2, 0.8, 0, 0);
            transform: matrix(1.8, -0.5, 0.2, 0.8, 0, 0);
  }
  to {
    -webkit-transform: translate(-250px, -450px);
            transform: translate(-250px, -450px);
  }
}

@-webkit-keyframes fire_rocket {
  from {
    -webkit-transform: scale(1.03) rotateX(20deg);
            transform: scale(1.03) rotateX(20deg);
  }
  5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  9% {
    -webkit-transform: scale(0.905) rotate(17deg, 2deg);
            transform: scale(0.905) rotate(17deg, 2deg);
  }
  15% {
    -webkit-transform: scale(1) rotate(16deg, 5deg);
            transform: scale(1) rotate(16deg, 5deg);
  }
  35% {
    -webkit-transform: scale(1.35) rotate(8deg, 15deg);
            transform: scale(1.35) rotate(8deg, 15deg);
  }
  45% {
    -webkit-transform: scale(1.25) rotate(4deg, 30deg);
            transform: scale(1.25) rotate(4deg, 30deg);
  }
  50% {
    -webkit-transform: scale(1.3) rotateY(35deg);
            transform: scale(1.3) rotateY(35deg);
  }
  65% {
    -webkit-transform: scale(1.35) rotateY(40deg);
            transform: scale(1.35) rotateY(40deg);
  }
  75% {
    -webkit-transform: scale(1.18);
            transform: scale(1.18);
  }
  85% {
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }
  to {
    -webkit-transform: scale(0.85) rotate(5deg);
            transform: scale(0.85) rotate(5deg);
  }
}

@keyframes fire_rocket {
  from {
    -webkit-transform: scale(1.03) rotateX(20deg);
            transform: scale(1.03) rotateX(20deg);
  }
  5% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  9% {
    -webkit-transform: scale(0.905) rotate(17deg, 2deg);
            transform: scale(0.905) rotate(17deg, 2deg);
  }
  15% {
    -webkit-transform: scale(1) rotate(16deg, 5deg);
            transform: scale(1) rotate(16deg, 5deg);
  }
  35% {
    -webkit-transform: scale(1.35) rotate(8deg, 15deg);
            transform: scale(1.35) rotate(8deg, 15deg);
  }
  45% {
    -webkit-transform: scale(1.25) rotate(4deg, 30deg);
            transform: scale(1.25) rotate(4deg, 30deg);
  }
  50% {
    -webkit-transform: scale(1.3) rotateY(35deg);
            transform: scale(1.3) rotateY(35deg);
  }
  65% {
    -webkit-transform: scale(1.35) rotateY(40deg);
            transform: scale(1.35) rotateY(40deg);
  }
  75% {
    -webkit-transform: scale(1.18);
            transform: scale(1.18);
  }
  85% {
    -webkit-transform: scale(0.93);
            transform: scale(0.93);
  }
  to {
    -webkit-transform: scale(0.85) rotate(5deg);
            transform: scale(0.85) rotate(5deg);
  }
}

#star {
  -webkit-animation: blackhole 120s infinite;
          animation: blackhole 120s infinite;
  transform-box: fill-box;
}

#star #star_1 {
  -webkit-animation: star 5s infinite;
          animation: star 5s infinite;
}

#star #star_2 {
  -webkit-animation: star 8s infinite;
          animation: star 8s infinite;
}

#star #star_3 {
  -webkit-animation: star 3s infinite;
          animation: star 3s infinite;
}

#star #star_4 {
  -webkit-animation: star 4s infinite;
          animation: star 4s infinite;
}

#star #star_5 {
  -webkit-animation: star 5s infinite;
          animation: star 5s infinite;
}

#star #star_6 {
  -webkit-animation: star 6s infinite;
          animation: star 6s infinite;
}

#star #star_7 {
  -webkit-animation: star 4s infinite;
          animation: star 4s infinite;
}

#star #star_8 {
  -webkit-animation: star 8s infinite;
          animation: star 8s infinite;
}

#star #star_9 {
  -webkit-animation: star 9s infinite;
          animation: star 9s infinite;
}

#star #star_10 {
  -webkit-animation: star 2s infinite;
          animation: star 2s infinite;
}

#star #star_11 {
  -webkit-animation: star 6s infinite;
          animation: star 6s infinite;
}

#star #star_12 {
  -webkit-animation: star 3s infinite;
          animation: star 3s infinite;
}

#star #star_13 {
  -webkit-animation: star 1s infinite;
          animation: star 1s infinite;
}

#star #star_14 {
  -webkit-animation: star 9s infinite;
          animation: star 9s infinite;
}

#star #ellipse_1 {
  -webkit-animation: star 5s infinite;
          animation: star 5s infinite;
}

#star #ellipse_2 {
  -webkit-animation: star 8s infinite;
          animation: star 8s infinite;
}

#star #ellipse_3 {
  -webkit-animation: star 3s infinite;
          animation: star 3s infinite;
}

#star #ellipse_4 {
  -webkit-animation: star 4s infinite;
          animation: star 4s infinite;
}

#star #ellipse_5 {
  -webkit-animation: star 5s infinite;
          animation: star 5s infinite;
}

#star #ellipse_6 {
  -webkit-animation: star 6s infinite;
          animation: star 6s infinite;
}

#star #ellipse_7 {
  -webkit-animation: star 4s infinite;
          animation: star 4s infinite;
}

#star #ellipse_8 {
  -webkit-animation: star 8s infinite;
          animation: star 8s infinite;
}

#star #ellipse_9 {
  -webkit-animation: star 10s infinite;
          animation: star 10s infinite;
}

#star #ellipse_11 {
  -webkit-animation: star 9s infinite;
          animation: star 9s infinite;
}

#star #ellipse_14 {
  animation: fall 45s alternate-reverse infinite;
}

#star #ellipse_15 {
  -webkit-animation: star 7s infinite;
          animation: star 7s infinite;
}

@-webkit-keyframes star {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes star {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@-webkit-keyframes fall {
  from {
    -webkit-transform: translate(20px, -30px);
            transform: translate(20px, -30px);
  }
  to {
    -webkit-transform: translate(-100px, 350px);
            transform: translate(-100px, 350px);
  }
}

@keyframes fall {
  from {
    -webkit-transform: translate(20px, -30px);
            transform: translate(20px, -30px);
  }
  to {
    -webkit-transform: translate(-100px, 350px);
            transform: translate(-100px, 350px);
  }
}

#blackhole {
  transform-box: fill-box;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotateY(-60deg);
          transform: rotateY(-60deg);
  -webkit-animation: blackhole 35s infinite linear;
          animation: blackhole 35s infinite linear;
}

@-webkit-keyframes blackhole {
  from {
    -webkit-transform: rotate(0deg) translateX(25px) rotate(0deg);
            transform: rotate(0deg) translateX(25px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(25px) rotate(-360deg);
            transform: rotate(360deg) translateX(25px) rotate(-360deg);
  }
}

@keyframes blackhole {
  from {
    -webkit-transform: rotate(0deg) translateX(25px) rotate(0deg);
            transform: rotate(0deg) translateX(25px) rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) translateX(25px) rotate(-360deg);
            transform: rotate(360deg) translateX(25px) rotate(-360deg);
  }
}

#male_hand {
  -webkit-animation: m_hand 1s infinite linear;
          animation: m_hand 1s infinite linear;
  -webkit-transform-origin: left;
          transform-origin: left;
  transform-box: fill-box;
}

@-webkit-keyframes m_hand {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}

@keyframes m_hand {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateY(45deg);
            transform: rotateY(45deg);
  }
}

#female_head {
  -webkit-animation: f_head 3s infinite linear;
          animation: f_head 3s infinite linear;
  -webkit-transform-origin: left;
          transform-origin: left;
  transform-box: fill-box;
}

@-webkit-keyframes f_head {
  from {
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    -webkit-transform: rotateY(10deg);
            transform: rotateY(10deg);
  }
}

@keyframes f_head {
  from {
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
  to {
    -webkit-transform: rotateY(10deg);
            transform: rotateY(10deg);
  }
}

#female_hand {
  -webkit-animation: f_hand 1s infinite linear;
          animation: f_hand 1s infinite linear;
  -webkit-transform-origin: left;
          transform-origin: left;
  transform-box: fill-box;
}

@-webkit-keyframes f_hand {
  from {
    -webkit-transform: rotateX(-5deg);
            transform: rotateX(-5deg);
  }
  to {
    -webkit-transform: rotateY(15deg);
            transform: rotateY(15deg);
  }
}

@keyframes f_hand {
  from {
    -webkit-transform: rotateX(-5deg);
            transform: rotateX(-5deg);
  }
  to {
    -webkit-transform: rotateY(15deg);
            transform: rotateY(15deg);
  }
}

#students_giving_exam {
  -webkit-animation: std_exam 2s infinite linear;
          animation: std_exam 2s infinite linear;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

@-webkit-keyframes std_exam {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(5deg);
            transform: rotateX(5deg);
  }
}

@keyframes std_exam {
  from {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  to {
    -webkit-transform: rotateX(5deg);
            transform: rotateX(5deg);
  }
}

.header {
  margin-top: 4.2rem;
}

@media (min-width: 1024px) {
  .header {
    margin-top: 5.26rem;
  }
}

.header nav {
  padding-top: 0.625rem;
  padding-bottom: 0.525rem;
  z-index: 100;
  background-color: azure;
}

.header nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  .header nav {
    padding-top: 1.0625rem;
    padding-bottom: 1.0525rem;
  }
}

@media (min-width: 640px) {
  .header nav {
    padding-top: 0.825rem;
    padding-bottom: 0.725rem;
  }
}

.header__nam {
  text-align: center;
}

.header.open .header__toggle span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__toggle span:nth-child(2) {
  opacity: 0;
}

.header.open .header__toggle span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
}

.header__logo img {
  width: 4.8125rem;
  height: 2.075rem;
}

.header__toggle span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: #2d314d;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__toggle span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu {
  z-index: 1;
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem;
  position: absolute;
  left: 50%;
  width: calc(100% - 3rem);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 5px;
}

.header__menu a {
  color: darkblue;
  padding: 0.6455rem;
  display: block;
  text-align: center;
}

.header__links a {
  font-size: 0.875rem;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
  color: #9698a6;
  position: relative;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a:hover {
  color: #2d314d;
}

.header__links a:hover::before {
  background: -webkit-gradient(linear, left top, right top, from(limegreen), to(lightblue));
  background: linear-gradient(to right, limegreen, lightblue);
}

.header__links a::before {
  content: "";
  position: absolute;
  height: 4px;
  left: 0px;
  right: 0px;
  bottom: -30px;
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.contents {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contents.science_page {
  background-position: center left;
  background-image: url("images/qw.png");
}

.contents.haddit_page {
  background-position: center left;
  background-image: url("images/haddit_page.png");
}

.contents.history_page {
  background-position: center bottom;
  background-image: url("images/history_page.png");
}

.contents.qu_page {
  background-position: center center;
  background-image: url("images/quran_page.png");
}

.contents .content__grid {
  display: -ms-grid;
  display: grid;
  z-index: 10;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -ms-grid-columns: (minmax(16.375rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16.375rem, 1fr));
  margin: 0.8rem;
  gap: 1.85rem;
}

@media (min-width: 1024px) {
  .contents .content__grid {
    -ms-grid-columns: (fr)[3];
        grid-template-columns: repeat(3, fr);
  }
}

.contents .content__items {
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 0.9rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contents .content__text {
  color: white;
  background-color: white;
  padding: 1.825rem 1.825rem 2.5rem 1.825rem;
}

@media (min-width: 640px) {
  .contents .content__text {
    padding: 1.856rem 1.6667rem;
  }
}

.contents .content__title {
  font-size: 1.0234rem;
  margin-bottom: 1rem;
}

.contents .content__description {
  color: #404040;
  font-size: 0.834rem;
}

.articles {
  background-color: #eaeffa;
}

.article__content {
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 2.5rem;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16.375rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16.375rem, 1fr));
  gap: 2.1rem;
}

@media (min-width: 1024px) {
  .article__grid {
    -ms-grid-columns: (fr)[3];
        grid-template-columns: repeat(3, fr);
  }
}

@media (min-width: 640px) {
  .article__grid {
    -ms-grid-columns: (fr)[2];
        grid-template-columns: repeat(2, fr);
  }
}

.article__item {
  border-radius: 0.5125rem;
  overflow: hidden;
  background: transparent;
  background-color: rgba(245, 245, 245, 0.5);
  -webkit-box-shadow: 0px, 3px, 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px, 3px, 12px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.article__item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.article__image {
  background-size: cover;
  background-position: center center;
}

.article__image img {
  width: 100%;
}

.article__text {
  color: #000000;
  -webkit-filter: invert(30%);
          filter: invert(30%);
  padding: 1.825rem 1.825rem 2.5rem 1.825rem;
}

@media (min-width: 640px) {
  .article__text {
    padding: 1.856rem 1.6667rem;
  }
}

.article__title {
  font-size: 1.0234rem;
  margin-bottom: 1rem;
}

.article__auther {
  font-size: 0.63432rem;
  margin-bottom: 0.734remrem;
}

.article__description {
  font-size: 0.834rem;
}

.article__publishedAt {
  font-size: 0.234rem;
}

/*.articles {
  background-color: lightgray;
}

.article__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat auto-fit, minmax(230px, 1fr);
      grid-template-columns: repeat auto-fit, minmax(230px, 1fr);
  /*  grid-template-columns: 1fr; */
/*  @include breakpoint-up(medium) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint-up(large) {
      grid-template-columns: repeat(4, 1fr);
    }  }*/
.features {
  background-color: lightgoldenrodyellow;
  text-align: center;
}

@media (min-width: 640px) {
  .features {
    text-align: left;
  }
}

.features__intro {
  margin-bottom: 3.75rem;
}

@media (min-width: 1024px) {
  .features__intro {
    max-width: 78%;
  }
}

@media (min-width: 640px) {
  .features__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__item {
  padding: 0.9376rem;
}

@media (min-width: 640px) {
  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (min-width: 1024px) {
  .features__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.features__icon {
  margin-bottom: 1.75rem;
}

.features__icon img {
  inline-size: 7rem;
}

@media (min-width: 1024px) {
  .features__icon {
    margin-bottom: 2.75rem;
  }
}

.features__title {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.15;
  margin-bottom: 1.5rem;
  color: #2d314d;
}

@media (min-width: 1024px) {
  .features__title {
    font-size: 1.5rem;
    margin-bottom: 2.25rem;
  }
}

.features__description {
  font-size: 0.875rem;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  .features__description {
    margin-bottom: 2.25rem;
  }
}

.footer {
  background-color: #cce6ff;
  color: white;
  padding: 2.5rem 2.5rem 3.5rem 2.5rem;
  text-align: center;
}

@media (min-width: 1024px) {
  .footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3] 2fr;
        grid-template-columns: repeat(3, 1fr) 2fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "logo links1 links2" "social links1 links2";
  }
}

.foot__logo {
  display: inline-block;
}

@media (min-width: 640px) {
  .foot__logo {
    margin-bottom: 1.874rem;
  }
}

@media (min-width: 1024px) {
  .foot__logo {
    grid-area: logo;
  }
}

.foot__social {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1.8734rem;
}

@media (min-width: 1024px) {
  .foot__social {
    grid-area: social;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.foot__social img {
  inline-size: 1.8rem;
}

.foot__social a {
  display: inline-block;
}

.foot__social a:not(:last-child) {
  margin-right: 1rem;
}

.foot__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2.25rem;
}

.foot__links a {
  color: #2b2b2b;
}

@media (min-width: 1024px) {
  .foot__links.col1 {
    grid-area: links1;
  }
}

@media (min-width: 1024px) {
  .foot__links.col2 {
    grid-area: links2;
  }
}

.foot__copyright {
  display: inline-block;
  text-align: right;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
}
/*# sourceMappingURL=style.css.map */